.ui {
  position: absolute; /* position relative to container */
  left: 0; /* top-left of container */
  top: 0;
  color: white;
}

.button {
  position: absolute;
  left: 0;
  top: left;
  cursor: pointer;
  user-select: none; /* don't let text be selected */
}

.button > img {
  max-width: 8vw;
}

.play {
}

.pause {
}
