.ui {
  position: absolute; /* position relative to container */
  left: 0; /* top-left of container */
  top: 0;
  width: 100%;
  height: 5vh;
  background-color: black;
  border: 2px white solid;
  border-radius: 5px;
  opacity: 0.9;
}

.button {
  position: absolute;
  left: 0;
  top: left;
  cursor: pointer;
  user-select: none; /* don't let text be selected */
}

.button > img {
  max-width: 6vw;
  opacity: 0.9;
}

.load {
  position: absolute;
  left: 50%;
  top: 0;
  cursor: pointer;
  user-select: none;
}
